{% extends 'admintemp/index.html' %}
{% load static %}
{% block content %}


  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Add New Pooja</h1>
    
    </div><!-- End Page Title -->
   
    <section class="section">
      <div class="row">
        

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <!--<h5 class="card-title"></h5>-->
              {% if messages %}
                <p class="messagelist" style="font-weight: bold;border-radius: 10px;background-color: #ffffff;font-size: 18px;color: rgb(63, 163, 50);">{% for message in messages %}{{ message }}{% endfor %}</p>
                {% endif %}
              <!-- Vertical Form -->
              <form class="row g-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Puja Name</label>
                  <input type="text" class="form-control" id="inputNanme4" name="name" required>
                </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Discription</label>
                  <textarea class="form-control" id="inputEmail4" name="discription" required></textarea>
                  <!--<input type="text" class="form-control" id="inputEmail4" name="discription">-->
                </div>

                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Need of Puja</label>
                  <textarea class="form-control" name="needofpuja" id="dignosis1" required></textarea>
                  <!--<input type="text" class="form-control" name="needofpuja" id="dignosis1">-->
                </div>

                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Advantages</label>
                  <textarea class="form-control" name="advantages" id="dignosis2" required></textarea>
                  <!--<input type="text" class="form-control" name="advantages" id="dignosis2">-->
                </div>

                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Puja Samagri</label>
                  <textarea class="form-control" name="pujasamagri" id="discharged" required></textarea>
                  <!--<input type="text" class="form-control" name="pujasamagri" id="discharged">-->
                </div>

                  <div class="col-12">
                    <label for="inputPassword4" class="form-label">Puja Category</label>
                    <select name="category" id="inputAddress" class="form-control">
                      <option type"hidden">------------</option>
                      {% for cat in poojacat %}
                      <option value="{{cat.id}}">{{ cat.catname }}</option>
                      {% endfor %}
                      {% comment %} <option value="female">Other</option> {% endcomment %}
                    </select>
                  </div>

                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Price</label>
                  <input type="text" class="form-control" name="price" id="investigationplaned" required>
                </div>

                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Offers</label>
                  <input type="text" class="form-control" name="offers" id="treatmentplan" required>
                </div>
                

                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Upload File</label>
                  <input type="file" class="form-control" name="pojaimage" id="treatmentplan" required>
                </div>
                
                <!--<div class="col-12">-->
                <!--  <label for="inputPassword4" class="form-label">Status</label>-->
                <!--  <select name="active_status" id="inputAddress" class="form-control" required>-->
                    <!--<option value="{{order.order_status}}">{{ order.active_status }}</option>-->
                <!--    <option type="hidden">--------</option>-->
                <!--    <option value="1">Active</option>-->
                <!--    <option value="0">Inactive</option>-->
                                       
                <!--  </select>    -->
                <!--</div>-->
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary col-md-12">Submit</button><br><br>
                  <a href="/admin-panel/getpuja/" class="btn btn-primary col-md-12">Cancel</a>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock content %}