{% extends 'index.html' %}
{% load static %}
{% block content %}

<section class="as_breadcrum_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Blog</h1> 

                        <ul class="breadcrumb"> 
                            <li><a href="#">Home</a></li>
                            <li>Blog </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="as_blog_wrapper as_padderBottom90 as_padderTop80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                        <p></p>
                    </div>
                    <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
                        {% for i in blog %}
                        <div class="as_blog_box">
                            <div class="as_blog_img">
                                <a href="blog_detail.html"><img src="/media/{{ i.blogimg }}" alt="" class="img-responsive"></a>
                                <span class="as_btn">{{ i.date }}</span>
                            </div>
                            <div class="as_blog_detail">
                                
                                <h4 class="as_subheading"> {{ i.blogtitle }}</h4> 
                                <p class="as_font14 as_margin0 as_padderBottom10">{{ i.discription }}</p>

                               

                                
                            </div>

                         
                            
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

  

    {% endblock content %}